@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Times New Roman', Times, serif;
  @apply to-white from-slate-300 bg-gradient-to-tl  dark:to-gray-800 dark:from-black
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* scrollbar css start */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0a1015;
  /* background: white; */
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#140b25, #1f3341);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* scrollbar css end */

/* Navbar css start */
.sidenav {
  height: 100%;
  width: 0;
  position:fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.scrollable-place {
  height: 3000px;
}

.stop-scrolling {
  height: 100%;
  z-index: -100;
  overflow: hidden;
}

/* Navbar css end */

/* Text-editor css start */
.jodit-workplace,
.jodit-wysiwyg {
  min-height: 250px !important;
}
.jodit-status-bar-link {
  display: none;
}
/* Text-editor css end */

.bshadow {
  box-shadow: 0 20px 40px 0 #0449591a;
}
/* Question section css */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 8px 0;
  margin-bottom: 5px;
  width: 100%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  border-bottom: 1px solid transparent;
  @apply bg-slate-400 text-Dark dark:bg-zinc-900 dark:text-white;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  /* padding: 20px 0px; */
  width: 100%;
  height: 100%;
  display: none;
  /* @apply dark:bg-zinc-900; */
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}